/*content*/
.landing{
    background: url("../img/bg2.png") #103d50 70% 30% no-repeat!important;
     /* Set rules to fill background */
  min-height: 100%;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.landing.segment{
    min-height: 500px;
    padding: 0em 0em;
}
.transbg{
    min-height:500px;
    background: rgba(32, 154, 189, 0.7);
}
.menu{
    border: 0px!important;
}
.landing h1.ui.header{
    margin-top: 4.2em;
    margin-bottom: 0.11em;
    font-weight: 100;
}

.findbg{
    padding: 1em 1.5em;
    width: 100%;
    background: rgba(255,255,255,0.7)
}

    @media only screen and (max-width: 767px) {
      .landfix.ui.fixed.menu {
        display: none !important;
      }
      .secondary.pointing.menu .item,
      .secondary.pointing.menu .menu {
        display: none;
      }
      .secondary.pointing.menu .toc.item {
        display: block;
      }
      .sfb{
        margin-top: 0px;
      }
    }

/*font*/
@font-face {
    font-family: "DancingScript";
    src: url("../fonts/DancingScript-Bold.ttf") format('truetype');
    font-weight: bold;
}

/*scrollbar*/
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3); 
    background-color:#E0E3DA; 
    -webkit-border-radius: 1px;
    border-radius: 1px;
}
 /*==================================================
 * Effect 1
 * ===============================================*/
.dashCard{
  background:#e1eef6; 
	-webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
}

.dashCard h2 i:hover{
  color: #fcbe32;
}
.dashCard h2:hover{
  color: #777;
}
/* Handle */
::-webkit-scrollbar-thumb {

    background: rgba(165,147,224,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(209,185,255,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #A593E0; 
}

    .ui.vertical.stripe {
      padding: 8em 0em;
    }
    .ui.vertical.stripe h3 {
      font-size: 2em;
    }
    .ui.vertical.stripe .button + h3,
    .ui.vertical.stripe p + h3 {
      margin-top: 3em;
    }
    .ui.vertical.stripe .floated.image {
      clear: both;
    }
    .ui.vertical.stripe p {
      font-size: 1.33em;
    }
    .ui.vertical.stripe .horizontal.divider {
      margin: 3em 0em;
    }

    .quote.stripe.segment {
      padding: 0em;
    }
    .quote.stripe.segment .grid .column {
      padding-top: 5em;
      padding-bottom: 5em;
    }

    .footer.segment {
      padding: 5em 0em;
    }

    .secondary.pointing.menu .toc.item {
      display: none;
    }

.ui.container.anim3 h3{
	position: relative;
	float: left;
	color: #d7b94c;
	font-family: 'Inconsolata', Consolas, monospace;
	font-size: 4em;
}
ui.container.anim3 h3 span{
	position: absolute;
	top: 0;
	right: 0;
	background: #FAFAFA;
	width: 100%;
	border-left: .1em solid transparent;
	-webkit-animation: typing 3s steps(16) forwards,
										 cursor 1s infinite;
	animation: typing 3s steps(16) forwards,
						 cursor 1s infinite;
}
/*fonts*/
.ui.container.anim3 h3{
	position: relative;
	float: left;
	color: #ccc;
	font-family: 'Inconsolata', Consolas, monospace;
	font-size: 2em;
}
.anim3 h3 span{
	position: absolute;
	top: 0;
	right: 0;
	background: #FAFAFA;
	width: 100%;
	border-left: .1em solid transparent;
	-webkit-animation: typing 3s steps(16) forwards,
										 cursor 1s infinite;
	animation: typing 3s steps(16) forwards,
						 cursor 1s infinite;
}

/* Animation */
.ui.container.anim3 h3{
	position: relative;
	float: left;
	color: #ccc;
	font-family: 'Inconsolata', Consolas, monospace;
	font-size: 2em;
}
.anim3 h3 span{
	position: absolute;
	top: 0;
	right: 0;
	background: #FAFAFA;
	width: 100%;
	border-left: .1em solid transparent;
	-webkit-animation: typing 3s steps(16) forwards,
										 cursor 1s infinite;
	animation: typing 3s steps(16) forwards,
						 cursor 1s infinite;
}
@-webkit-keyframes typing{
	from { width: 100%;}
	to { width: 0;}
}
@-webkit-keyframes cursor{
	50% { border-color: white;}
}
@keyframes typing{
	from{ width: 100%;}
	to{ width: 0;}
}
@keyframes cursor{
	50% { border-color: black;}
}
/*------------------------------------*/
/*     FIXED NAV WITH RESPONSIVE------*/
/*------------------------------------*/

    .hidden.menu {
      display: none;
    }
    .masthead.segment {
      min-height: 100%;
      padding: 0em 0em;
    }
    .masthead .logo.item img {
      margin-right: 1em;
    }
    .masthead .ui.menu .ui.button {
      margin-left: 0.5em;
    }
    .masthead h1.ui.header {
      margin-top: 3em;
      margin-bottom: 0em;
      font-size: 2em;
      font-weight: normal;
    }
    .masthead h2 {
      font-size: 1.7em;
      font-weight: normal;
    }

    .ui.vertical.stripe {
      padding: 8em 0em;
    }
    .ui.vertical.stripe h3 {
      font-size: 2em;
    }
    .ui.vertical.stripe .button + h3,
    .ui.vertical.stripe p + h3 {
      margin-top: 3em;
    }
    .ui.vertical.stripe .floated.image {
      clear: both;
    }
    .ui.vertical.stripe p {
      font-size: 1.33em;
    }
    .ui.vertical.stripe .horizontal.divider {
      margin: 3em 0em;
    }

    .quote.stripe.segment {
      padding: 0em;
    }
    .quote.stripe.segment .grid .column {
      padding-top: 5em;
      padding-bottom: 5em;
    }

    .footer.segment {
      padding: 5em 0em;
    }

    .secondary.pointing.menu .toc.item {
      display: none;
    }
    @media only screen and (max-width: 1000px){
      .transbg{
      min-height:500px;
      }
    }
    @media only screen and (max-width: 700px) {
      .ui.fixed.menu {
        display: none !important;
      }

      .secondary.pointing.menu .item,
      .secondary.pointing.menu .menu {
        display: none;
      }
      .secondary.pointing.menu .toc.item {
        display: block;
      }
      .masthead.segment {
        min-height: 350px;
      }
      .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
      }
      .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
      }
    }
